Results of automated tests in openLilyLib
=========================================

The `results` directory holds test results produced by the `openLilyLib` automated
test suite. After the tests have been completed successfully the result
files can be picked up to generate documentation.

The result files are written to a directory structure representing that of the
original `openLilyLib` hierarchy, `results` corresponding to the root directory.

Before the tests start the directory is cleared completely, so please don't
store anything in there manually.